

/* add a black background color to the top navigation */
.topnav{
    background-color: #333;
    overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a{
  float: left;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;  
  border: solid black;
  border-radius: 30px;
  align-content: flex-end;
  
}
/* Style the active tab */
#navMenu li.active {
  background-color: #3498db; /* Change to your desired color */
  color: #fff; /* Change to your desired text color */
}

.nav{
    align-content: end;
}

/* Change the color of links on hover*/
.topnav a:hover{
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active{
    background-color: #04AA6D;
    color: white;
}
.body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    border: 10px black;
    background-size: cover;
    align-items: center;
    justify-content: center;

}
.welcome{
    font-family: Arial, Helvetica, sans-serif;
    color: #3e8e41;
    font-style: normal;
    font-size: large;
    font-weight: bolder;
    border: solid black;
    border-radius: 30px;
    padding: 10px;
    text-align: center;

}
.intro{
    font-family: Arial, Helvetica, sans-serif;
    color: #3e8e41;
    font-style: normal;
    font-size: large;
    font-weight: bold;
    padding: 14px;
    text-align: center;
    text-decoration: #04AA6D;
    align-content: center;
}
.name{
    font-family: Arial, Helvetica, sans-serif;
    color: #3e8e41;
    font-size: large;
    font-style: normal;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    text-decoration: #04AA6D;
    align-content: center;


}
.job{
    font-family: Arial, Helvetica, sans-serif;
    color: #3e8e41;
    font-size: larger;
    font-style: normal;
    font-weight: bolder;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    align-content: center;

}
.webDev h2{
    text-align: center;
    color: #04AA6D;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;

}
.webDev p{
    text-align: center;
    color: #000;
    font-weight: bold;
    padding: 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.systemDev h2{
    text-align: center;
    color: #04AA6D;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;

}
.systemDev p{
    text-align: center;
    color: #000;
    font-weight: bold;
    padding: 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: white;

}
.myCV{
    border: 2px solid #112d4e;
    background-color: #a82a2a;
    padding: 30px 50px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    margin: 4px 2x;
    font-size: 16px;
    color: #ddd;
    text-decoration: none;
    border-radius: 12px;
    transition: 0.5s;
    box-shadow: 0 9px #999;
    align-content: center;
}
button[type=mycv]:hover{
    background-color: bisque;
}
button:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
img{
    border: 2px solid #ddd;
    border-radius: 50%;
    padding: 20px 30px;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    align-content: center;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #333;
    padding: 30px;
}
.footercontainer{
    width: 100;
    padding: 50px 70px 30px 20px;
    background-color: #000;
}
.socialicons{
    display: flex;
    justify-content: center;
}
.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;

}
/*Hover effects on social media icons*/
.socialicons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.footernav{
    margin: 30px 0;
    justify-content: center;
}
.footernav ul{
    display: flex;
    justify-content: center;
}
.footernav ul li a:hover{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3cm;
    opacity: 0.7;
    transition: 0.5s;
}
.footernav ul li a:hover{
    opacity: 1;
}
.footerbottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerbottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media(max-width: 700px){
    .footernav ul{
        flex-direction: column;
    }
    .footernav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}
/*contact*/

/* * {
    box-sizing:border-box;   
   }
   
   body {
       background-color: purple;
       display: flex;
       align-items: center;
       justify-content: center;
       min-height: 100vh;
       margin: 0;
   }
   
   .container {
       background-color: aliceblue;
       border-radius: 5px;
       box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
       width: 400px;
       max-width: 100%;
   }
   
   .head{
       background-color: #f7f7f7;
       border-bottom: 1px solid #f0f0f0;
       padding: 20 px 40px;
   
   }
   
   .head h2 {
       margin: 0;
   }
   
   .form{
       padding: 30px 40px;
   }
   
   .form-control{
       margin-bottom: 10px;
       padding-bottom: 20px;
       position: relative;
   }
   
   .form-control label{
       display: inline-block;
       margin-bottom: 5px;
   }
   
   .form-control input{
       border: 2px solid#f0f0f0;
       border-radius: 5px;
       display: block;
       font-family: 'Times New Roman', Times, serif;
       font-size: 14px;
       padding: 10px;
       width: 100%;
   }
   .form-control.success input{
       border-color: green;
   }
   
   .form-control.error input{
       border-color: red;
   }
   
   .form-control i{
       position: absolute;
       top: 40px;
       right: 10px;
       visibility: hidden;
   }
   
   .form-control.error i.fa-check-circle {
       color: red;
       visibility: visible;
   }
   .form-control.form-control.success i.fa-exclamation-circle {
       color: green;
       visibility: visible;
   }
   .form-control small{
       visibility: hidden;
       position: absolute;
       bottom: 0;
       left: 0;
   }
   
   .form button{
       background-color: aqua;
       border: 2px solid aqua;
       border-radius: 4px;
       color: #fff;
       display: block;
       font-family: 'Times New Roman', Times, serif;
       font-size: 16px;
       padding: 10px;
       width: 100%;
   }*/

   * {
    box-sizing:border-box;   
   }
   .form {
    padding: 10px 20px;
}

.head{
    background-color: black;
    border-bottom: 1px solid #f0f0f0;
    padding: 20 px 40px;
}

.head h2 {
    margin: 0;
}
.container {
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
    width: 600px;
    max-width: 300%;
    padding: 30px 20px;
}


.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control input{
    border: 2px solid#f0f0f0;
    border-radius: 5px;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}
.form Button[type=submit]{
    width: 50%;
    background-color: blue;
    color: white;
    padding: 30px 40px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-control textarea{
    width: 50%;
    padding: 5px 7px;
    margin: 8px 0;
    border: 5px solid black;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 8px;
    box-sizing: border-box;
}
.form Button[type=submit]:hover{
    background-color: green;
}

.form-control.success input{
    border-color: green;
}

.form-control.error input{
    border-color: red;
}
.form-control i{
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.form-control.error i.fa-check-circle {
    color: red;
    visibility: visible;
}
.form-control.form-control.success i.fa-exclamation-circle {
    color: green;
    visibility: visible;
}

.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}
/* div{
    border-radius: 5px;
    background-color: grey;
    padding: 5px;
}*/
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form label:after{content: ":"}
body {
    background-color: purple;
    display: contents;
    align-items: center;
    justify-content: center;
    min-height: 1000vh;
    margin: 0;
}

/*skills*/

/*about Me*/
.heading{
    text-align: center;
    color: #04AA6D;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding: 10px 10px;
    align-content: center;
   
}
P{
    text-align: center;
    color: #000;
    font-weight: bold;
    padding: 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: #000;
}
table, th, td{
    border: 4px solid black;
    align-content: center;
}
table.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
    padding: 10px 20px;
}

.hireMe{
    padding: 15px 20px;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 300%;
    align-content: center;
}
.aboutme{
    width: 800px;
    /*border: 15px solid black;*/
    padding: 50px 30px;
    margin: 20px;
    text-align: center;
    align-content: center;

}
.contact{
    text-align: center;
    color: #04AA6D;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;
    padding: 10px 10px;

}
/* add a black background color to the top navigation */
.topabout{
    background-color: #333;
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.topabout a{
    float: left;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover*/
.topabout a:hover{
    background-color: #ddd;
    color: black;
}
/* Add a color to the active/current link */
.topabout a.active{
    background-color: #04AA6D
    color(rec2020 red green blue);
}



