.container{
    width: 300px;
    height: 400px;
    padding: 20px;
    border: 1px solid gray;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: black;

}

.image-slider-wrapper{
    overflow: hidden;
}
#image_slider{
    position: relative;
    height: 200px;
    padding: 0;
}
#Image_slider li{
    max-width: 100px;
    float: left;
    list-style: none;
}
